<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a58acef2-7b68-4d10-a88c-1a09daf28221" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="3690715f-f045-4454-bf22-af634ca188b9">contentBase</Composition>
      <Composition Key="8722d4fc-93c0-4ee9-84b3-7c78f5521667">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="03cb6c10-67f1-4bba-89c6-b2bb2006911e">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a58acef2-7b68-4d10-a88c-1a09daf28221">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>