<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42f70d14-a975-4272-bbf0-22939b2b9fdc" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="f713dc93-9d19-4fc7-adad-73f3668e631e">contentBase</Composition>
      <Composition Key="0e6133b3-a4b4-4b87-954a-f974e10bab6b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c17b70af-22d0-473b-8869-7ac0d8767c68">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="42f70d14-a975-4272-bbf0-22939b2b9fdc" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>