<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ca8d935-dc76-4198-a338-022a25c2cdb5" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="f713dc93-9d19-4fc7-adad-73f3668e631e">contentBase</Composition>
      <Composition Key="0e6133b3-a4b4-4b87-954a-f974e10bab6b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="276b6984-a5ca-4b73-be64-8acd7d16b158">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8e1e0390-0616-4658-949d-f08344ff790a" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>bab036a9-f588-459b-8531-b8f36b0db54a</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>