<?xml version="1.0" encoding="utf-8"?>
<contact Key="4a1f4198-e143-48ba-a0f5-1a7ef2df23aa" Alias="Contact" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Contact" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <contactForm>
      <Value>adf160f1-39f5-44c0-b01d-9e2da32bf093</Value>
    </contactForm>
    <contactFormHeader>
      <Value>Send Us A Message</Value>
    </contactFormHeader>
    <contactIntro>
      <Value>&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget lacinia nisl. Aenean sollicitudin diam vitae enim ultrices, semper euismod magna efficitur.&lt;/p&gt;</Value>
    </contactIntro>
    <keywords>
      <Value>[]</Value>
    </keywords>
    <mapCoordinates>
      <Value>55.40622012982414,10.388404726982117,18</Value>
    </mapCoordinates>
    <mapHeader>
      <Value>You'll find us here</Value>
    </mapHeader>
    <pageTitle>
      <Value>Let's have a chat</Value>
    </pageTitle>
    <seoMetaDescription />
    <umbracoNavihide>
      <Value>0</Value>
    </umbracoNavihide>
  </Properties>
</contact>