<?xml version="1.0" encoding="utf-8"?>
<person Key="616d0f54-b8b0-450e-be0d-2ca4c06672a2" Alias="Jan Skovgaard" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">People</Parent>
    <Path>/Home/People/JanSkovgaard</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Jan Skovgaard" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <department>
      <Value>mvp,Denmark</Value>
    </department>
    <email />
    <facebookUsername />
    <instagramUsername />
    <keywords>
      <Value>[]</Value>
    </keywords>
    <linkedInUsername />
    <photo>
      <Value>umb://media/cf1ab8dcad0f4a8e974b87b84777b0d6</Value>
    </photo>
    <seoMetaDescription />
    <twitterUsername />
    <umbracoNavihide>
      <Value>0</Value>
    </umbracoNavihide>
  </Properties>
</person>