<?xml version="1.0" encoding="utf-8"?>
<person Key="9946f249-0d6e-496c-91b6-64eaf1a3dffd" Alias="Lee Kelleher" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">People</Parent>
    <Path>/Home/People/LeeKelleher</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Lee Kelleher" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <department>
      <Value>United Kingdom,mvp</Value>
    </department>
    <email />
    <facebookUsername />
    <instagramUsername />
    <keywords>
      <Value>[]</Value>
    </keywords>
    <linkedInUsername />
    <photo>
      <Value>umb://media/fa763e0d0ceb408c8720365d57e06e32</Value>
    </photo>
    <seoMetaDescription />
    <twitterUsername />
    <umbracoNavihide>
      <Value>0</Value>
    </umbracoNavihide>
  </Properties>
</person>