<?xml version="1.0" encoding="utf-8"?>
<person Key="eab72f13-b22e-46d5-b270-9c196e49a53b" Alias="Matt Brailsford" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">People</Parent>
    <Path>/Home/People/MattBrailsford</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Matt Brailsford" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <department>
      <Value>United Kingdom,mvp</Value>
    </department>
    <email />
    <facebookUsername />
    <instagramUsername>
      <Value>circuitbeard</Value>
    </instagramUsername>
    <keywords>
      <Value>[]</Value>
    </keywords>
    <linkedInUsername />
    <photo>
      <Value>umb://media/eee91c05b2e84031a056dcd7f28eff89</Value>
    </photo>
    <seoMetaDescription />
    <twitterUsername>
      <Value>mattbrailsford</Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value>0</Value>
    </umbracoNavihide>
  </Properties>
</person>