<?xml version="1.0" encoding="utf-8"?>
<blogpost Key="782c631b-11e9-4e90-8fc1-6aeff37b488a" Alias="My Blog Post" Level="3">
  <Info>
    <Parent Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">Blog</Parent>
    <Path>/Home/Blog/MyBlogPost</Path>
    <Trashed>false</Trashed>
    <NodeName Default="My Blog Post" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bodyText>
      <Value>{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "label": "",
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "hasConfig": false,
              "controls": [
                {
                  "value": "&lt;p&gt;Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada.&lt;/p&gt;\n&lt;p&gt;Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada.&lt;/p&gt;\n&lt;p&gt;Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada.&lt;/p&gt;",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true,
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "1f96a69f-0cb9-4a00-6a76-f8cec30befec",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}</Value>
    </bodyText>
    <categories>
      <Value>["demo","umbraco","starter kit"]</Value>
    </categories>
    <excerpt>
      <Value>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada.</Value>
    </excerpt>
    <keywords>
      <Value>[]</Value>
    </keywords>
    <pageTitle>
      <Value>My Blog Post</Value>
    </pageTitle>
    <seoMetaDescription />
    <umbracoNavihide>
      <Value>0</Value>
    </umbracoNavihide>
  </Properties>
</blogpost>