<?xml version="1.0" encoding="utf-8"?>
<product Key="4e96411a-b8e1-435f-9322-2faee30ef5f2" Alias="Unicorn" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/Unicorn</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Unicorn" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bodyText>
      <Value>{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}</Value>
    </bodyText>
    <category>
      <Value>animals</Value>
    </category>
    <description>
      <Value>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta.</Value>
    </description>
    <features />
    <photos>
      <Value>umb://media/1bc5280b8658402789d958e2576e469b</Value>
    </photos>
    <price>
      <Value>249</Value>
    </price>
    <productName>
      <Value>Unicorn</Value>
    </productName>
    <sku>
      <Value>UMB-UNICORN</Value>
    </sku>
  </Properties>
</product>